div {
  background-color: black;
  width: 60px; 
  height: 60px;
  margin-bottom: 5px;
}

.position {
  background-color: red;
  position: sticky;
  top: 20px;
  z-index: auto; 
  right: 20px;
}

section {
  position: relative;
  /* border: 1px solid */
  overflow: scroll;
  height: 100px;
}


